extends pug/base

append vars
	- title = "Тестовое задание для Джино"

block content

	section.domain
		.wrapper
			.header
				a(href="/")
					+svg("logo")
					span домены
				span.data Только до 31 января
			.domain_center_block
				h2 Честная цена
					br
					| за домен .RU — 39₽
				.block_with_form
					.top_form_block
						form
							input(type="text" placeholder="example.ru")
							button(type="submit") Проверить
					.bottom_form_block
						p Домен example.ru — свободен.
							a(href="") Зарегистрировать за 39₽

				a.button_create(href="") Создать аккаунт

			a.scroll-down(href="")
				span.sprite-down


	section.information
		.wrapper
			h2 Секция Информации


	section.why
		.wrapper
			a.logo(href="/")
				+svg("logo")
				span домены
			h2 Почему стоит выбрать «Джино»?
			span «Джино» более 18 лет на рынке,
				br
				| имеет 270 000 довольных клиентов,
				br
				| собственную панель управления
				br
				| и многое другое.
			a.button_create(href="") Создать аккаунт

			.plus
				p Вы получите 1000 баллов в системе лояльности Джино.Плюсы,
					br
					| зарегистрировавшись в течении 24 часов после посещения данной страницы
				.divider
				p.thousand
					| 1000
					+svg("plus-bold")

			p.copyright © «Джино», 2003–2017. «Джино» является зарегистрированным товарным знаком. Лицензия на телематические услуги связи № 97495 от 09.03.2012. Правовая информация.
