extends pug/base

append vars
	- title = "Тестовое задание для Джино"

block content

	section.domain
		.wrapper
			h2 Честная цена
				br
				| за домен .RU — 39₽



	section.information
		.wrapper
			h2 Секция Информации


	section.why
		.wrapper
			h2 «Джино» более 18 лет на рынке, имеет 270 000 довольных клиентов, собственную панель управления и многое другое.
