// stylelint-disable at-rule-empty-line-before

@import "variables";
@import "functions";
@import "mixins";
@import "sprites";
@import "fonts";
@import "vendor";
@import "base";

@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption:700|PT+Sans:400,700&subset=cyrillic');

* {
	margin: 0;
	padding: 0;
}

html,
body,
.wrapper {
	height: 100%;
}

body {
	font-family: 'PT Sans', sans-serif;
	overflow: hidden;
}

.wrapper {
	width: 90%;
	max-width: 1092px;
	min-width: 819px;
	min-height: 100vh;
	position: relative;

	margin: auto;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	justify-items: center;
	justify-content: space-between;
}

section {
	display: block;
	box-sizing: border-box;
	min-height: 100%;
	overflow: auto;
}

a.button_create {
	background-color: #77b53c;
	color: #fff;
	text-decoration: none;
	padding: 15px 45px;
	margin: auto;
	border-radius: 5px;
	font-size: 24px;
	font-weight: bold;
}

.scroll-panel {
	position: fixed;
	right: 0;
	margin-right: 25px;
	top: 50%;
	height: 93px;
	width: 16px;
	margin-top: -47px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	.circle {
		width: 15px;
		height: 15px;
		margin: 8px auto;
		border-radius: 50%;

		background-color: #000;
		border: 2px solid #fff;

		&_active {
			width: 15px;
			height: 15px;
			margin: 8px auto;
			border-radius: 50%;

			background-color: #fff;
			border: 2px solid #000
		}
	}
}

.domain {
	background-image: url("../images/background1.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;

	.header {
		padding-top: 25px;
		a {
			display: flex;
			align-items: center;

			svg {
				display: inline-block;
				width: 73px;
				height: 19px;
				fill: #fff;
			}

			span {
				display: inline-block;
				font-size: 16px;
				color: #fff;
				font-weight: bold;
				padding-left: 10px;
			}

			&:active {
				text-decoration: none;
			}
		}

		span.data {
			text-align: center;
			display: block;
			font-size: 12px;
			letter-spacing: 2.16px;
			color: #fff;
			font-weight: bold;
			margin: 0;
		}
	}

	h1 {
		font-family: 'PT Sans Caption', sans-serif;
		font-weight: bold;
		font-size: 80px;
		text-align: center;
		margin: auto;
		margin-bottom: 30px;
	}

	.domain_center_block {
		margin: auto;
		margin-top: 30px;
		display: flex;
		flex-direction: column;
		align-items: center;

		.block_with_form {
			width: 723px;
			padding: 0;
			margin-bottom: 35px;

			.top_form_block {
				background-color: #fff;
				padding: 14px 15px 14px 39px;
				border-radius: 5px;
				position: relative;

				form {
					display: flex;
					align-items: center;
					justify-content: space-between;
					height: 50px;

					input[type="text"] {
						border: 0;
						color: #333333;
						font-weight: normal;
						font-size: 24px;
						width: 75%;
						outline: 0;
					}
					button {
						color: #fff;
						background-color: #5f6062;
						border-radius: 5px;
						font-size: 22px;
						padding: 11px 26px;
						outline: 0;
					}
				}

			}

			.bottom_form_block {
				border-radius: 5px;
				background-color: RGBa(51,57,63,0.9);
				margin-top: -15px;
				padding-top: 15px;

				p {
					text-align: center;
					padding: 12px;
					opacity: 1;
					font-size: 16px;

					span.freeDomen {
						color: #fff;

					}
					a {
						color: #77b53c;
						text-decoration: underline;
						margin-left: 7px;

						&:hover {
							cursor: pointer;
							color: #84d437;
							text-decoration: none;
						}
					}
				}
			}

		}
	}

	a.scroll-down {
		margin: 15px auto 60px auto;
	}
}

.information {
	background-color: #fff;

	a {
		text-decoration: none;

		.logo {
			padding-top: 25px;
			display: flex;
			align-items: center;

			svg {
				display: inline-block;
				width: 73px;
				height: 19px;
				fill: #b22725;
			}

			span {
				display: inline-block;
				font-size: 16px;
				color: #333333;
				font-weight: bold;
				padding-left: 10px;
			}
		}

		&:active {
			text-decoration: none;
		}
	}

	h2 {
		color: #333333;
		font-size: 35px;
		font-weight: bold;
		margin: auto
	}

	.advantage_block {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: center;
		margin-top: 30px;

		.advantage {
			display: flex;
			flex-direction: column;
			width: 200px;
			text-align: center;
			color: #333;

			svg {
				display: block;
				margin: auto;
				height: 75px;
			}

			.text-block {
				height: 50px;
				margin-top: 20px;

				p {
					font-size: 20px;
					margin: auto;
				}
			}
		}

		.businesscard {
			svg {
				width: 58px;
			}
		}
		.dns {
			svg {
				width: 68px;
			}
		}
		.certificate {
			svg {
				width: 58px;
			}
		}
		.autorenewal {
			svg {
				width: 75px;
			}
		}
		.cloud {
			svg {
				width: 75px;
			}
		}
		.freessl {
			svg {
				width: 51px;
			}
		}
		.dnssec {
			svg {
				width: 75px;
			}
		}
		.redirect {
			svg {
				width: 75px;
			}
		}
	}

	.message {

		background-color: #f7f7f7;
		border: 1px solid #afafb0;
		border-radius: 10px;

	}

	/* THE SPEECH BUBBLE ----------------------------- */

	.triangle-border {
		position:relative;
		padding: 30px 40px;
		margin: 30px 0;
		border: 1px solid #afafb0;
		color:#333;
		background:#f7f7f7;
		border-radius:10px;

		p {
			font-size: 16px;
			color: #333;
		}
	}

	.triangle-border:before {
		content:"";
		position:absolute;
		bottom:-20px; /* value = - border-top-width - border-bottom-width */
		left:40px; /* controls horizontal position */
		border-width:1px 1px 0;
		border-style:solid;
		border-color:#afafb0 transparent;
		/* reduce the damage in FF3.0 */
		display: block;
		width: 0;
	}

	/* creates the smaller  triangle */
	.triangle-border:after {
		content:"";
		position:absolute;
		bottom:-13px; /* value = - border-top-width - border-bottom-width */
		left:47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
		border-width:1px 1px 0;
		border-style:solid;
		//border-color:#000 transparent;
		border-color:#f7f7f7 transparent;
		/* reduce the damage in FF3.0 */
		display:block;
		width:0;
	}

	/* Variant : top
    ------------------------------------------ */

	/* creates the larger triangle */
	.triangle-border.top:before {
		top:-20px; /* value = - border-top-width - border-bottom-width */
		bottom:auto;
		left:auto;
		right:41px; /* controls horizontal position */
		border-width:0 20px 20px;
	}

	/* creates the smaller  triangle */
	.triangle-border.top:after {
		top:-18px; /* value = - border-top-width - border-bottom-width */
		bottom:auto;
		left:auto;
		right:43px; /* value = (:before right) + (:before border-right) - (:after border-right) */
		border-width:0 18px 18px;
	}

	a.button_create {
		margin-bottom: 75px;
	}

}

.why {
	background-image: url("../images/background2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;

	a {
		text-decoration: none;

		.logo {
			display: flex;
			align-items: center;
			height: 20px;
			padding-top: 25px;

			svg {
				display: inline-block;
				width: 73px;
				height: 19px;
				fill: #fff;
			}

			span {
				display: inline-block;
				font-size: 16px;
				color: #fff;
				font-weight: bold;
				padding-left: 10px;
			}
		}

		&:active {
			text-decoration: none;
		}
	}

	h2 {
		margin: auto;
		font-weight: bold;
		font-size: 35px;
	}

	span.big_text {
		font-family: 'PT Sans Caption', sans-serif;
		font-weight: bold;
		font-size: 50px;
		line-height: 60px;
		text-align: center;
		width: 90%;
		margin: auto;
	}

	.plus {
		background-color: #df4a5e;
		color: #fff;
		font-size: 22px;
		padding: 30px 40px;
		margin: auto 0;

		display: flex;
		align-items: center;
		justify-content: space-between;

		.divider {
			background-color: #fff;
			height: 70px;
			width: 2px;
			opacity: .2;
			margin: auto 30px;
		}

		p.thousand {
			display: flex;
			align-items: center;

			font-size: 50px;
			font-family: 'PT Sans Caption', sans-serif;
			letter-spacing: 2.5px;

			svg {
				display: inline-block;
				width: 28px;
				height: 28px;
				fill: #fff;
				margin-left: 10px;
			}
		}
	}

	p.copyright {
		opacity: .5;
		color: #fff;
		font-size: 14px;
		margin: auto;
		text-align: center;
	}
}
